<table
  mat-table
  [dataSource]="this.plans()">
  <ng-container matColumnDef="id">
    <th
      mat-header-cell
      *matHeaderCellDef>
      ID
    </th>
    <td
      mat-cell
      *matCellDef="let plan">
      <span class="font-bold">{{ plan.id }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="plans">
    <th
      mat-header-cell
      *matHeaderCellDef>
      # Plans
    </th>
    <td
      mat-cell
      *matCellDef="let plan">
      {{ plan.graphNodesStats.plan }}
    </td>
  </ng-container>

  <ng-container matColumnDef="columns">
    <th
      mat-header-cell
      *matHeaderCellDef>
      # Columns
    </th>
    <td
      mat-cell
      *matCellDef="let plan">
      {{ plan.graphNodesStats.column + plan.graphNodesStats.filter_column }}
    </td>
  </ng-container>

  <ng-container matColumnDef="filters">
    <th
      mat-header-cell
      *matHeaderCellDef>
      # Filters
    </th>
    <td
      mat-cell
      *matCellDef="let plan">
      {{ plan.graphNodesStats.filter_column }}
    </td>
  </ng-container>

  <ng-container matColumnDef="preds">
    <th
      mat-header-cell
      *matHeaderCellDef>
      # Logical Predicates
    </th>
    <td
      mat-cell
      *matCellDef="let plan">
      {{ plan.graphNodesStats.logical_pred_ }}
    </td>
  </ng-container>

  <ng-container matColumnDef="tables">
    <th
      mat-header-cell
      *matHeaderCellDef>
      # Tables
    </th>
    <td
      mat-cell
      *matCellDef="let plan">
      {{ plan.graphNodesStats.table }}
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="columns(); sticky: true"></tr>
  <tr
    mat-row
    *matRowDef="let plan; columns: columns()"
    [class]="['transition-colors hover:bg-gray-200', { '!bg-gray-300 hover:bg-gray-300': this.selectedPlan() && this.selectedPlan()!.id === plan.id }] | cn"
    (click)="selectedPlan.set(plan)"></tr>
</table>
