<p class="text-center">
  <span class="font-bold">{{ selectedNode().label }}</span>
  @if (this.selectedNodeImportance(); as nodeImportance) {
    <span>: </span>
    <span>{{ nodeImportance.importance | percent }}</span>
    <span class="font-bold"> = </span>
    <span>{{ nodeImportance.value | number: '1.0-2' }}</span>
  }
</p>
<div class="overflow-auto">
  <table
    mat-table
    [dataSource]="this.selectedNodeInfoFields()">
    <ng-container matColumnDef="attr">
      <th
        mat-header-cell
        *matHeaderCellDef>
        Attribute
      </th>
      <td
        mat-cell
        *matCellDef="let nodeInfo">
        <span class="font-bold">{{ nodeInfo.name }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="value">
      <th
        mat-header-cell
        *matHeaderCellDef>
        Value
      </th>
      <td
        mat-cell
        *matCellDef="let nodeInfo">
        {{ nodeInfo.value }}
      </td>
    </ng-container>
    <ng-container matColumnDef="isFeature">
      <th
        mat-header-cell
        *matHeaderCellDef>
        Is Feature
      </th>
      <td
        mat-cell
        *matCellDef="let nodeInfo">
        {{ nodeInfo.isFeature }}
      </td>
    </ng-container>
    <ng-container matColumnDef="importance">
      <th
        mat-header-cell
        *matHeaderCellDef>
        Importance
      </th>
      <td
        mat-cell
        *matCellDef="let nodeInfo">
        {{ nodeInfo.importance ? (nodeInfo.importance | percent) : '' }}
      </td>
    </ng-container>
    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns(); sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns()"></tr>
  </table>
</div>
