.graphDiv {
  height: 100%;
}

.node {
  ellipse {
    transition: stroke-width 0.2s;
    &.hover {
      stroke-width: 6px;
    }
    &.selected {
      stroke-width: 5px;
      stroke: green;
    }
  }
}
