@for (node of this.nodeImportancesSorted(); track node.node.nodeId) {
  @if (node.importance) {
    <p
      [class]="
        [
          'border border-solid border-transparent p-1 text-start transition-colors',
          {
            'border-green-900':
              this.selectedNode() &&
              this.selectedNode()!.nodeId === node.node.nodeId,
          },
        ] | cn
      "
      (click)="selectedNode.set(node.node)"
      (keypress)="selectedNode.set(node.node)"
      aria-hidden="true"
    >
      <span class="font-bold">{{ node.node.label }}: </span>
      <span>{{ node.importance | percent }}</span>
      <span class="font-bold"> = </span>
      <span>{{ node.value | number: '1.0-2' }}</span>
    </p>
  }
}
