:host {
  height: 100%;
}

p {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(100px, 100%);
  gap: 32px;
  box-sizing: border-box;
  max-height: 100%;
  padding: 16px 32px;
  position: relative;
}

.planList {
  border: 1px solid black;
  max-height: 100%;
  overflow: auto;
}

.planListItem {
  &:hover {
    background-color: #f1f1f1;
  }
  &.selected {
    background-color: rgb(202, 202, 202);
    &:hover {
      background-color: rgb(194, 194, 194);
    }
  }
}

.rightGrid {
  display: grid;
  grid-template-rows: 60% 40%;
  gap: 16px;
}

.graphBlock {
  position: relative;
}

.nodeInfoList {
  overflow: auto;
}

.nodeInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.leftGrid {
  display: grid;
  grid-template-rows: minmax(100px, 60%) minmax(100px, 40%);
  gap: 16px;
  max-height: 100%;
}

.leftBottomGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(100px, 100%);
  gap: 16px;

  button {
    align-self: center;
  }
}

.boldSpan {
  font-weight: bold;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 100%;
  overflow-y: auto;

  p {
    text-align: start;
  }
}

.flexColumnMaxSize {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

p.nodeImportanceItem {
  padding: 4px;
  border: 1px solid transparent;
  transition: border-color 0.2s;
  &.selected {
    border: 1px solid green;
  }
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
