<div class="grid h-full grid-rows-60-40 gap-4">
  <div class="max-h-full overflow-auto border border-solid border-black">
    <expl-zs-plan-list
      [plans]="plans()"
      [(selectedPlan)]="selectedPlan" />
  </div>
  <div class="grid grid-cols-2 grid-rows-full gap-4">
    <div class="flex flex-col gap-2">
      @if (this.selectedPlan()) {
        <expl-zs-explainer-select [(selectedExplainer)]="selectedExplainer" />
        @if (this.selectedPlanFidelityEvaluaiton(); as fidelity) {
          <mat-divider />
          <expl-zs-explainer-evaluation-block [fidelutyEvaluation]="fidelity" />
        }
      }
    </div>

    <div class="flex max-h-full flex-col gap-2">
      @if (this.selectedPlanPrediction(); as prediction) {
        <expl-zs-prediction-block [prediction]="prediction" />
        <mat-divider />
      }
      @if (this.selectedFullPlan() && this.selectedPlanPrediction() && this.selectedPlanExplanation() && this.fullCost()) {
        <expl-zs-node-importance-list
          [fullPlan]="this.selectedFullPlan()!"
          [fullCost]="this.fullCost()!"
          [explanation]="this.selectedPlanExplanation()!"
          [(selectedNode)]="this.selectedNode" />
      }
    </div>
  </div>
</div>
<div class="grid grid-rows-60-40 gap-4">
  <div>
    @if (this.selectedFullPlan(); as fullPlan) {
      <expl-zs-plan-graph
        [fullPlan]="fullPlan"
        [explanation]="this.selectedPlanExplanation()"
        [(selectedNode)]="selectedNode"></expl-zs-plan-graph>
      @if (this.allExplanationNodes(); as explanationNodes) {
        @if (this.actualExplanation(); as explanation) {
          <expl-zs-cost-bar
            class="absolute right-4 top-8 w-64"
            [(selectedNode)]="selectedNode"
            [explanation]="explanation"
            [nodesToShow]="explanationNodes"
            [fullPlan]="selectedFullPlan()!" />
        }
        @if (this.selectedPlanExplanation(); as explanation) {
          <expl-zs-cost-bar
            class="absolute right-4 top-16 w-64"
            [(selectedNode)]="selectedNode"
            [explanation]="explanation"
            [nodesToShow]="explanationNodes"
            [fullPlan]="selectedFullPlan()!" />
        }
      }
    }
  </div>
  @if (this.selectedNode(); as selectedNode) {
    <expl-zs-node-info-list
      [selectedNode]="selectedNode"
      [fullCost]="this.fullCost()"
      [explanation]="this.selectedPlanExplanation()" />
  }
</div>
@if (isLoading()) {
  <div class="absolute left-1/2 top-1/2">
    <mat-spinner></mat-spinner>
  </div>
}
