<div class="grid h-full grid-rows-60-40 gap-4">
  <div class="max-h-full overflow-auto border border-solid border-black">
    <expl-zs-plan-list [plans]="plans()" [(selectedPlan)]="selectedPlan" />
  </div>
  <div class="grid grid-cols-2 grid-rows-full gap-4">
    <div class="flex flex-col gap-2">
      @if (this.selectedPlan()) {
        <expl-zs-explainer-select
          @enter
          [(selectedExplainer)]="selectedExplainer"
        />
        @if (
          this.selectedPlanCorrelationEvaluation() &&
          this.selectedPlanFidelityPlusEvaluaiton() &&
          this.selectedPlanFidelityMinusEvaluaiton()
        ) {
          <mat-divider @enter />
          <expl-zs-explainer-evaluation-block
            @enter
            [correlationEvaluation]="this.selectedPlanCorrelationEvaluation()!"
            [fidelityPlusEvaluation]="
              this.selectedPlanFidelityPlusEvaluaiton()!
            "
            [fidelityMinusEvaluation]="
              this.selectedPlanFidelityMinusEvaluaiton()!
            "
          />
        }
      }
    </div>

    <div class="flex max-h-full flex-col gap-2">
      @if (this.selectedPlanPrediction(); as prediction) {
        <expl-zs-prediction-block [prediction]="prediction" @enter />
        <mat-divider @enter />
      }
      @if (
        this.selectedFullPlan() &&
        this.selectedPlanPrediction() &&
        this.selectedPlanExplanation() &&
        this.fullCost()
      ) {
        <expl-zs-node-importance-list
          @enter
          [fullPlan]="this.selectedFullPlan()!"
          [fullCost]="this.fullCost()!"
          [explanation]="this.selectedPlanExplanation()!"
          [(selectedNode)]="this.selectedNode"
        />
      }
    </div>
  </div>
</div>
<div class="grid grid-rows-60-40 gap-4">
  <div>
    @if (this.selectedFullPlan(); as fullPlan) {
      <expl-zs-plan-graph
        @enter
        [fullPlan]="fullPlan"
        [explanation]="this.selectedPlanExplanation()"
        [(selectedNode)]="selectedNode"
      ></expl-zs-plan-graph>
      @if (
        this.allExplanationNodes() &&
        this.actualExplanation() &&
        this.selectedPlanExplanation()
      ) {
        <expl-zs-cost-bar
          @enter
          class="absolute right-4 top-8 w-64"
          [(selectedNode)]="selectedNode"
          [explanation]="this.actualExplanation()!"
          [nodesToShow]="this.allExplanationNodes()!"
          [fullPlan]="selectedFullPlan()!"
        />
        <expl-zs-cost-bar
          @enter
          class="absolute right-4 top-16 w-64"
          [(selectedNode)]="selectedNode"
          [explanation]="this.selectedPlanExplanation()!"
          [nodesToShow]="this.allExplanationNodes()!"
          [fullPlan]="selectedFullPlan()!"
        />
      }
    }
  </div>
  @if (this.selectedNode(); as selectedNode) {
    <expl-zs-node-info-list
      @enter
      [selectedNode]="selectedNode"
      [fullCost]="this.fullCost()"
      [explanation]="this.selectedPlanExplanation()"
    />
  }
</div>
@if (isLoading()) {
  <div class="absolute left-1/2 top-1/2">
    <mat-spinner></mat-spinner>
  </div>
}
