<div class="grid h-full grid-rows-60-40 gap-4">
  <div class="max-h-full overflow-auto border border-solid border-black">
    <expl-zs-plan-list
      [plans]="plans()"
      [(selectedPlan)]="selectedPlan" />
  </div>
  <div class="grid grid-cols-2 grid-rows-full gap-4">
    @if (this.selectedPlan()) {
      <expl-zs-explainer-select [(selectedExplainer)]="selectedExplainer" />
    }
    <div class="flex max-h-full flex-col gap-2 overflow-y-auto">
      @if (this.selectedPlanPrediction(); as prediction) {
        <expl-zs-prediction-block [prediction]="prediction" />
        <mat-divider></mat-divider>
      }
      @if (this.selectedFullPlan() && this.selectedPlanPrediction() && this.selectedPlanExplanation()) {
        <expl-zs-node-importance-list
          [fullPlan]="this.selectedFullPlan()!"
          [prediction]="this.selectedPlanPrediction()!"
          [explanation]="this.selectedPlanExplanation()!"
          [(selectedNode)]="this.selectedNode" />
      }
    </div>
  </div>
</div>
<div class="grid grid-rows-60-40 gap-4">
  <div>
    @if (this.selectedFullPlan()) {
      <expl-zs-plan-graph
        [graph]="this.selectedFullPlan()"
        [explanation]="this.selectedPlanExplanation()"
        [(selectedNode)]="selectedNode"></expl-zs-plan-graph>
    }
  </div>
  @if (this.selectedNode(); as selectedNode) {
    <expl-zs-node-info-list
      [selectedNode]="selectedNode"
      [prediction]="this.selectedPlanPrediction()"
      [explanation]="this.selectedPlanExplanation()" />
  }
</div>
@if (isLoading()) {
  <div class="absolute left-1/2 top-1/2">
    <mat-spinner></mat-spinner>
  </div>
}
